<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="bar">
      {% if name %}
      <h1>Bem vindo {{ name }}</h1>
      {% endif %}
      <a class="pages" href="/home">A Fazer</a>
      <a class="pages" href="/checkedTasks">Feitas</a>
      <a class="logout" href="/logout">Logout</a>
    </div>
    {% if checkedTasks %}
    <div class="task-container">
      <h2>Tarefas feitas.</h2>
      <ul class="task-list">
        {% for task in tasks %} {% if task.checked == 1 %}
        <li class="task-item">
          <span class="task-title">{{ task.title}}</span>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-actions">
            <a href="/task/delete/{{task.id}}">
              <button class="btn delete-btn">❌</button>
            </a>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>
    </div>
    {%else%}
    <div class="task-container">
      <h2>Lista de Tarefas</h2>
      <ul class="task-list">
        {% for task in tasks %} {% if task.checked == 0 %}
        <li class="task-item">
          <span class="task-title">{{ task.title}}</span>
          <p class="task-description">{{ task.description }}</p>
          <div class="task-actions">
            <a href="/task/check/{{task.id}}">
              <button class="btn check-btn">✔️</button>
            </a>

            <a href="/task/edit/{{task.id}}">
              <button class="btn edit-btn">✏️</button>
            </a>

            <a href="/task/delete/{{task.id}}">
              <button class="btn delete-btn">❌</button>
            </a>
          </div>
        </li>
        {% endif %} {% endfor %}
      </ul>
      <form action="/task" method="GET" id="form_prevent">
        <button class="createTask" type="submit">Criar nova task</button>
      </form>
    </div>
    {%endif%}
    <!--
        <div class="container">
          {% for task in tasks %}
          <div class="line">
            <h2>{{task.title}}</h2>
            <p>{{task.description}}</p>
          </div>
          {% endfor %}
        </div>
    -->
  </body>
</html>
