* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100svw;
  background-color: rgb(25, 25, 25);
  color: white;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(39, 39, 39);
  padding: 40px;
  border-radius: 10px;
}

.display-form {
  margin-bottom: 20px;
}

.display-inputs {
  margin-top: 20px;
}

.button-form {
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(42, 187, 47);
  cursor: pointer;
  :active {
    opacity: 0.5;
  }
}
.button-form-red {
  color: white;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: #f4433648;
  cursor: pointer;
  :active {
    opacity: 0.5;
  }
}

.logout {
  color: #f4433648;
  text-decoration: none;
  transition: 0.2s color, opacity;
  cursor: pointer;
}

.logout:hover {
  color: #f44336;
}

.logout:active {
  opacity: 0.5;
}

.pages {
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s color, opacity;
  cursor: pointer;
}

.pages:hover {
  color: #1eff00;
}

.pages:active {
  opacity: 0.5;
}

.bar {
  display: flex;
  flex: 0.5;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.459);
  box-shadow: 0px 0px 15px black;
}

.container {
  display: flex;
  flex: 8;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.line {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  width: 60%;
}

.task-container {
  display: flex;
  flex: 8;
  flex-direction: column;
  align-items: center;
  height: 80%;
  width: 70%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.26);
  background-color: rgb(17, 17, 17);
}

/* Estilo do título da lista de tarefas */
.task-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffffd3;
  text-align: center;
}

/* Estilo da lista de tarefas */
.task-list {
  list-style-type: none;
  width: 100%;
}

/* Estilo de cada item da tarefa */
.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  box-shadow: 0px 0px 5px #85ff6c;
  background-color: rgba(175, 255, 178, 0.247);
  border-radius: 4px;
  margin-bottom: 20px;
}

/* Remove a borda inferior do último item da lista */
.task-item:last-child {
  border-bottom: none;
}

/* Estilo do título da tarefa */
.task-title {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Estilo da descrição da tarefa */
.task-description {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: white;
  margin-top: 5px;
}

.task-actions {
  display: flex;
  flex: 0.5;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn {
  border: none;
  width: 25px;
  height: 100%;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.check-btn {
  background-color: #4caf50;
  color: white;
}

.edit-btn {
  background-color: #ffc107;
  color: white;
}

.delete-btn {
  background-color: #f44336;
  color: white;
}

/* Efeitos de hover para os botões */
.btn:hover {
  opacity: 0.8;
}

.createTask {
  width: 14%;
  height: 5%;
  background-color: rgb(42, 187, 47);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s background-color;
}
.createTask:hover {
  background-color: rgba(42, 187, 47, 0.363);
}
.createTask:active {
  background-color: rgb(138, 196, 140);
}

#form_prevent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 40px;
}
