<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 Internal Server Error</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='500.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>500</h1>
      <h2>Oops! Internal Server Error</h2>
      <p>There was an internal server error!</p>
      <a href="/" class="home-button">Go Home</a>
    </div>
  </body>
</html>
